/python-web-scraper/undergraduate_class_schedules/*
/python-web-scraper/graduate_class_schedules/*
/uwaterloo-open-classroom-android/app/google-services.json
/uwaterloo-open-classroom-android/app/release/*
